@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Work Sans", serif; */
*{
    margin: 0;
    padding: 0;
}
body
{
    font-family: "Work Sans";
}
#hero{
    background: linear-gradient(0deg, rgb(9, 9, 9) -19.5%,rgba(16, 16, 16, 0) 100%), url(./assets/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 919px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#hero .hero-content{
    width: 1000px;
}
#hero .hero-content .subtitle{
    opacity: 0.8;
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 16px;
}
#hero .hero-content .title{
    color: rgb(255, 255, 255);
    font-size: 64px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 24px;
    }
#hero .hero-content .description{
    opacity: 0.7;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 32px;
}
.btn{
    padding: 21px 32px 21px 32px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    border-radius: 8px;
    background: rgb(82, 195, 3);
    border: none;
    cursor: pointer;
}
.btn-container{
    text-align: center;
}
#card-box{
    width: 1320px;
    margin: 100px auto;

}
#card-box .subtitle{
    color: rgb(16, 16, 16);
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.6;

}
#card-box .title{
    color: rgb(16, 16, 16);
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0%;
    text-align: center;
}
.card-container{
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
}
.card{
    max-width: 420px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.card .image-box{
    width: 250px;
}
.card .image-box img{
    width: 100%;
}
.card .shop{
    text-align: center;
    background-color: aqua;
    padding: 14px 32px 14px 32px;
    border-radius: 8px;
    background: rgba(82, 195, 3, 0.15);
}